---
layout: seagame.njk
title: "thsra001's boat game"
type: games
---
  
    <div id="menu">
      <div id="start">
        <h1 class="title">Thsra001's boat game</h1>
        <div class="buttone">
          <p class="buttex" id="play">Play</p>
        </div>
      </div>
      <div class="pause" id="pauser" style="display:none; position:fixed; width:100%; height:100%">
        <h1 class="sidetitle">Paused</h1>
        <p class="sidebut" id="res1">resume</p>
        <p class="sidebut" id="exi">exit to menu</p>
      </div>
    </div>
    <script>
    console.log("helo")
    </script>
    <canvas id="c" tabindex="0"></canvas>
    <script defer type="module" src="../../assets2/sea.js"></script>
