<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    <h1 class="title">thsra001</h1>
    <div id="bodybox">
   {{ content | safe }}
    </div>
    <div id="footer">
    <h3>follow me at</h3>
    <a class="lin" href="">youtube,</a>
    <a class="lin" href="">mastodon,</a>
    <a class="lin" href="">and roadblocks :)</a>
    </div> 
  </body>
</html>