/* I did this so that the canvas can fit thee window */
* {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}
body{
  background-color: #1a1a1a;
  
}
.title{
  font-size:8vh;
  margin: 1vh 0 0 0 ;
  
  text-align: center;
  color: #505050
  
}
#bodybox{
  background-color: white;
  margin: auto;
  max-width: 75vw;
  min-height: 50vmin;
  padding-left: 5vw;
  padding-top: 2.5vmin;
  padding-bottom: 2.5vmin;
}
#footer{
  background-color: rgb(80, 80, 80);
  margin: auto;
  max-width: 75vw;
  min-height: 1vmin;
  padding-left: 5vw;
  margin-top: 1vmin;
  padding-top: 1.15vmin;
  padding-bottom: 1.15vmin;

.lin,h3{
    font-size: 2.7vmin;
    display: inline-block;
}
} 
p,li{font-size: 2.3vmin;}
h2{font-size: 3.5vmin;}
.nosel{
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard, aka chrome, edge, firefox and opera */
}
*:link{
  text-decoration: none;
  color: rgb(98, 144, 156);
}
*:visited{
  color: rgb(111, 98, 158);
}
.blogimg{
  height:40vmin;
  width:auto;
  margin-left: 5vw;
}
.imgtex {
margin-left: 7vw;
color: #555555;
font-style: italic;
}
